<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backendplantshop.mapper.CartMapper">
    <resultMap id="CartResultMap" type="com.example.backendplantshop.entity.Carts">
        <id column="cart_id" property="cart_id"/>
        <result column="user_id" property="user_id"/>
        <result column="is_deleted" property="is_deleted"/>


        <association property="users" javaType="Users">
            <id property="user_id" column="user_id"/>
            <result property="email" column="email"/>
            <result property="username" column="username"/>
            <result property="phone_number" column="phone_number"/>
        </association>
    </resultMap>
    <!-- Các phần tử SQL-->
    <select id="findCartByUserId" resultMap="CartResultMap">
        SELECT c.cart_id,
            u.user_id,
               u.username,
               u.email,
               u.phone_number
        FROM carts c
        LEFT JOIN users u ON u.user_id=c.user_id
        WHERE u.user_id=#{userID}
    </select>



</mapper>