<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.backendplantshop.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.example.backendplantshop.entity.Users">
        <id column="user_id" property="user_id"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
        <result column="username" property="username"/>
        <result column="phone_number" property="phone_number"/>
        <result column="address" property="address"/>
        <result column="role" property="role"/>
        <result column="created_at" property="created_at"/>
        <result column="updated_at" property="updated_at"/>
        <result column="is_deleted" property="is_deleted"/>

        <collection property="user_tokens" ofType="UserTokens" column="user_id"
                    select="com.example.mapper.UserTokensMapper.findByUserId"/>
    </resultMap>
    <!-- Các phần tử SQL-->

    <select id="findById" resultMap="UserResultMap" parameterType="integer">
        SELECT *
        FROM users
        WHERE user_id = #{userID}
          AND is_deleted = false
    </select>

    <select id="findByEmail" resultMap="UserResultMap">
        SELECT * FROM users
        WHERE email = #{email}
        AND is_deleted = false
    </select>

    <select id="findByPhoneNumber" resultMap="UserResultMap">
        SELECT * FROM users
        WHERE phone_number = #{phone_number}
        AND is_deleted = false
    </select>

    <select id="findByUsername" resultMap="UserResultMap">
        SELECT * FROM users
        WHERE username = #{username}
          AND is_deleted = false
    </select>
    <select id="findAll" resultMap="UserResultMap">
        SELECT user_id
                , email
                , username
                , phone_number
                , address
                , role
        FROM users
        WHERE is_deleted = false
    </select>

    <insert id="insert" parameterType="Users">
        INSERT INTO users(
            email
            , password
            , username
            , phone_number
        )
        VALUES (
                   #{email}
                   , #{password}
                   , #{username}
                   , #{phone_number}
               )
    </insert>
    <update id="update" parameterType="Users">
        UPDATE users
        SET  email = #{email}
          , username = #{username}
          , phone_number =  #{phone_number}
          , address=  #{address}
          , role =  #{role}
        WHERE user_id = #{user_id}
    </update>

    <delete id="delete" parameterType="integer">
        UPDATE users
        SET is_deleted = 1
        WHERE user_id = #{userID}
    </delete>




    <select id="findByIdDeleted" resultMap="UserResultMap" parameterType="integer">
        SELECT *
        FROM users
        WHERE user_id = #{userID}
          AND is_deleted = true
    </select>
    <update id="restoreUser" parameterType="int">
        UPDATE users
        SET is_deleted = 0,
            updated_at = CURRENT_TIMESTAMP
        WHERE user_id = #{userID}
    </update>

    <update id="changePassword" >
        UPDATE users
        SET password = #{newPassword}
            ,updated_at=CURRENT_TIMESTAMP
        WHERE user_id=#{userID}
        AND is_deleted=false
    </update>


</mapper>